In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark").master("yarn").getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/02 02:04:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/02 02:04:05 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [3]:
students =[{'rollno':'001','name':'sravan','age':23,'height':5.79,'weight':67,'address':'guntur'},
               {'rollno':'002','name':'ojaswi','age':16,'height':3.79,'weight':34,'address':'hyd'},
               {'rollno':'003','name':'gnanesh chowdary','age':7,'height':2.79,'weight':17,'address':'patna'},
               {'rollno':'004','name':'rohith','age':9,'height':3.69,'weight':28,'address':'hyd'},
               {'rollno':'005','name':'sridevi','age':37,'height':5.59,'weight':54,'address':'hyd'}]

df = spark.createDataFrame(students)

In [6]:
a = df.join(df, on='rollno', how='inner')

In [7]:
a.show()

[Stage 2:=============================>                             (1 + 1) / 2]

+------+-------+---+------+----------------+------+-------+---+------+----------------+------+
|rollno|address|age|height|            name|weight|address|age|height|            name|weight|
+------+-------+---+------+----------------+------+-------+---+------+----------------+------+
|   001| guntur| 23|  5.79|          sravan|    67| guntur| 23|  5.79|          sravan|    67|
|   002|    hyd| 16|  3.79|          ojaswi|    34|    hyd| 16|  3.79|          ojaswi|    34|
|   003|  patna|  7|  2.79|gnanesh chowdary|    17|  patna|  7|  2.79|gnanesh chowdary|    17|
|   004|    hyd|  9|  3.69|          rohith|    28|    hyd|  9|  3.69|          rohith|    28|
|   005|    hyd| 37|  5.59|         sridevi|    54|    hyd| 37|  5.59|         sridevi|    54|
+------+-------+---+------+----------------+------+-------+---+------+----------------+------+

In [4]:
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType
df = df.withColumn("age",col("age").cast(StringType()))\
.withColumn("height", col("height").cast(StringType()))\
.withColumn("weight", col("weight").cast(StringType()))

In [5]:
df.show()

+-------+---+------+----------------+------+------+
|address|age|height|            name|rollno|weight|
+-------+---+------+----------------+------+------+
| guntur| 23|  5.79|          sravan|   001|    67|
|    hyd| 16|  3.79|          ojaswi|   002|    34|
|  patna|  7|  2.79|gnanesh chowdary|   003|    17|
|    hyd|  9|  3.69|          rohith|   004|    28|
|    hyd| 37|  5.59|         sridevi|   005|    54|
+-------+---+------+----------------+------+------+

In [ ]:
df.write.csv("/temp/helloworld", sep='\t', header=True, mode='overwrite')